@tailwind base;
@tailwind components;
@tailwind utilities;



.section-padding {
    padding: 3.5rem 1.5rem
}

@media (min-width: 640px) {
    .section-padding {
        padding:5% 4%
    }
}

@media (min-width: 1920px) {
    .section-padding {
        padding-left:10%;
        padding-right: 10%
    }
}

.section-padding-x {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

@media (min-width: 640px) {
    .section-padding-x {
        padding-left:4%;
        padding-right: 4%
    }
}

@media (min-width: 1920px) {
    .section-padding-x {
        padding-left:10%;
        padding-right: 10%
    }
}

.text-base {
    font-size: 1.125rem
}

.text-fluid-body {
    font-size: clamp(1rem,.8571rem + 1.4143vi,2.5rem);
}

.text-h1 {
    font-size: 3.5rem
}

.text-h2 {
    font-size: 3rem
}
@layer base {
    @layer components {
        .button {
          @apply  bg-accent-300 px-8 py-3 text-secondary-200 rounded-full
        }
      }
    @font-face {
        font-family: "CabinetGrotesk-Variable";
        src: url("./assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
      }
      
      @font-face {
        font-family: "GeneralSans-Variable";
        src: url("./assets/fonts/GeneralSans-Variable.ttf") format("truetype");
        font-weight: 200 700;
        font-display: swap;
        font-style: normal;
      }
      
}


.cards {
    height: 30vh;
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .card {
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    border-radius: 7px;
    margin-bottom: 50px;
  }
  
  .card-1 {
    left: 0;
    top: 0;
    z-index: 30;
  }
  
  .card-2 {
    left: 0px;
    top: 100px;
    z-index: 40;
  }
  
  .card-3 {
    left: 0px;
    top: 150px;
    z-index: 50;
  
  }
  
  .card h1 {
    font-weight: 900;
    font-stretch: condensed;
    text-transform: uppercase;
  }

  .bg-main {
    background-image: url('/bg-main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 40;
    position: relative;
  }
  
  .cursor::before {
    content: 'View Project';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    font-size: 14px;
    white-space: nowrap;
  }
  
  .cursor:hover::before {
    opacity: 1;
  }

  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #8b8b73;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    font-size: 14px;
    z-index: 1000;
    font-weight: 600;
    display: none;
  }
  
  .navLetterB {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
  }
  
  .navLetterB:hover {
    transform: translateY(-10px);
  }
  
